<section>
  <div>
    <h1>Bienvenido a Pollería Dandys!</h1>
    <p>
      Encuentra las mejores parrilladas aquí, y disfruta de un lugar hogareño
      donde podrás gozar de una muy buena música y bebidas. Nuestra parrillada
      es conocida por sus cortes de carne de primera calidad, cocinados a la
      perfección por nuestros experimentados chefs. Ya sea que prefieras un
      jugoso bife de chorizo, un suculento asado de tira, o un tierno pollo a la
      parrilla, nuestro menú tiene algo para todos los gustos.
    </p>
  </div>
</section>
